# Day 1 of DSA Practise
# Today Brush up my knowlede in python loops solving patterns questions
# April 28th 2024

#Pattern Practise Questions

# Question no 1

In [19]:
def pattern1(n):
  for i in range(n):
    for j in range(n):
         print('* ',end='')
    print('')

In [20]:
pattern1(7)

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [11]:
#Question no 2

In [37]:
def pattern2(n):
  for i in range(n):
    for j in range(i+1):
      print('* ',end='')
    print(' ')

In [38]:
pattern2(5)

*
* *
* * *
* * * *
* * * * *

In [39]:
#Question 3

In [42]:
def pattern3(n):
  for i in range(n):
    for j in range(i+1):
      print(j+1,end='')
    print(' ')

In [43]:
pattern3(7)

1
12
123
1234
12345
123456
1234567

In [ ]:
#Question4

In [44]:
def pattern4(n):
  for i in range(n):
    for j in range(i+1):
      print(i+1,end='')
    print('')

In [46]:
pattern4(7)

1
22
333
4444
55555
666666
7777777

In [ ]:
#Question5

In [54]:
def pattern5(n):
  for i in range(n,0,-1):
    for j in range(i):
      print('* ',end='')
    print('')

In [57]:
pattern5(7)

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Question6

In [62]:
def pattern6(n):
  for i in range(n,0,-1):
    for j in range(i):
      print(j+1,end='')
    print('')

In [63]:
pattern6(7)

1234567
123456
12345
1234
123
12
1

In [ ]:
# Question7

In [89]:
def pattern7(n):
  for i in range(n):

    #Space loop

    for j in range(0,n-i-1):
      print(' ',end='')


    # Astrict loop

    for j in range(0,2*i+1):
      print('*',end ='')


        #Space loop

    # for j in range(0,n-i-1):
    #   print(' ',end='')

    print('')

In [90]:
pattern7(7)

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [ ]:
# Question8

In [100]:
def pattern8(n):
  for i in range(n):

    # Space Pattern
    for j in range(i):
      print(' ',end='')

    # Astrict pattern

    for j in range(2*(n-1)-2*i+1):
      print('*',end='')

    print('')

In [102]:
pattern8(8)

***************
 *************
  ***********
   *********
    *******
     *****
      ***
       *

In [ ]:
# Question9

In [109]:
def pattern9(n):

  #For upper triangle

  for i in range(n):

    #Space

    for j in range(n-i-1):
      print(' ',end='')

    #Astrict

    for j in range(2*i+1):
      print('*',end='')

    print(' ')
  # For lower Triangle

  for i in range(n):

    #Space

    for j in range(i):
      print(' ',end='')

   # Astrict


    for j in range(2*(n-1-i)+1):
      print('*',end='')


    print(' ')

In [113]:
pattern9(9)

        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
*****************
*****************
 ***************
  *************
   ***********
    *********
     *******
      *****
       ***
        *

In [ ]:
# Question10

In [120]:
def pattern10(n):

  # For upper pattern

  for i in range(n):
    for j in range(i+1):
      print('*',end='')
    print('')
  # For lower pattern

  for i in range(n-1):
    for j in range(n-i-1):
       print('*',end='')

    print('')

In [122]:
pattern10(7)

*
**
***
****
*****
******
*******
******
*****
****
***
**
*

In [123]:
# Question11

In [131]:
def pattern11(n):
  for i in range(n):

    if(i%2==0):
      num=1
    else:
      num=0

    for j in range(i+1):
      print(num,end=' ')
      num=1-num
    print('')

In [132]:
pattern11(7)

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1
0 1 0 1 0 1
1 0 1 0 1 0 1

In [133]:
# Question 12

#This was a tricky one gotta revise it agian

In [169]:

def pattern12(n):
  space=2*(n-1)
  for i in range(n):
    for j in range(i+1):
      print(j+1,end='')

    for j in range(space):
      print(' ',end='')

    for j in range(i+1,0,-1):
      print(j,end='')

    print('')
    space-=2

In [170]:
pattern12(5)

1        1
12      21
123    321
1234  4321
1234554321

In [ ]:
# Question 13

In [171]:
def pattern13(n):
  num=0
  for i in range(5):
    for j in range(i+1):
      num+=1
      print(num,end=' ')

    print('')

In [172]:
pattern13(5)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
# Question 14

In [176]:
def pattern14(n):

  for i in range(n):
    alpha=65
    for j in range(i+1):
      print(chr(alpha),end=' ')
      alpha+=1

    print('')

In [177]:
pattern14(5)

A
A B
A B C
A B C D
A B C D E

In [ ]:
# Question 15

In [183]:
def pattern15(n):
  for i in range(n):
    alpha=65
    for j in range(n-i):
      print(chr(alpha),end=' ')
      alpha+=1

    print('')

In [184]:
pattern15(5)

A B C D E
A B C D
A B C
A B
A

In [ ]:
# Question16

In [189]:
def pattern16(n):
  for i in range(n):
    alpha=65+i
    for j in range(i+1):
      print(chr(alpha),end=' ')
    print('')

In [190]:
pattern16(5)

A
B B
C C C
D D D D
E E E E E

In [ ]:
# Question17

In [239]:
def pattern17(n):
  for i in range(n):

    # for printing the space

    for j in range(n-1-i):
      print(' ',end=' ')

    # for printing the alphabet
    alpha=65
    for j in range(2*i+1):
      print(chr(alpha),end=' ')
      if(j<i):
        alpha+=1
      else:
         alpha-=1



    print('')

In [240]:
pattern17(5)

        A
      A B A
    A B C B A
  A B C D C B A
A B C D E D C B A

In [ ]:
# Question18

In [304]:
def pattern18(n):

  for i in range(n):
    alpha=65+n-1-i
    for j in range(i+1):

      print(chr(alpha),end=' ')
      alpha=alpha+1


    print('')

In [305]:
pattern18(5)

E
D E
C D E
B C D E
A B C D E

In [306]:
# Question19

In [321]:
def pattern19(n):
  for i in range(n):
    for j in range(n-i):
      print('*',end='')
    for j in range(2*i):
      print(' ',end='')
    for j in range(n-i):
      print('*',end='')
    print('')

  for i in range(n):
    for j in range(i+1):
      print('*',end='')
    for j in range(2*(n-1-i)):
      print(' ',end='')
    for j in range(i+1):
      print('*',end='')

    print('')

In [325]:
pattern19(7)

**************
******  ******
*****    *****
****      ****
***        ***
**          **
*            *
*            *
**          **
***        ***
****      ****
*****    *****
******  ******
**************

In [311]:
# Question20

In [337]:
def pattern20(n):
  for i in range(n):
    for j in range(i+1):
      print('*',end='')
    for j in range(2*(n-1-i)):
      print(' ',end='')
    for j in range(i+1):
      print('*',end='')
    print('')

  for i in range(n-1):
    for j in range(n-1-i):
      print('*',end='')
    for j in range(2*(i+1)):
      print(' ',end='')
    for j in range(n-1-i):
      print('*',end='')
    print('')

In [341]:
pattern20(7)

*            *
**          **
***        ***
****      ****
*****    *****
******  ******
**************
******  ******
*****    *****
****      ****
***        ***
**          **
*            *

In [ ]:
# Question21

In [359]:
def pattern21(n):
  for i in range(n):
    for j in range(n):
      if(i==0 or i==n-1 or j==0 or j==n-1):
        print('*',end='')
      else:
        print(' ',end='')

    print('  ')

In [361]:
pattern21(11)

***********
*         *
*         *
*         *
*         *
*         *
*         *
*         *
*         *
*         *
***********

# New Section